@font-face {
  font-family: en;
  src: url(../../fonts/english.ttf);
}
@font-face {
  font-family: he;
  src: url(../../fonts/Assistant-Regular.ttf);
}
@font-face {
  font-family: he-semiBold;
  src: url(../../fonts/Assistant-SemiBold.ttf);
}
@font-face {
  font-family: he-bold;
  src: url(../../fonts/Assistant-Bold.ttf);
}


